@totvs-extension:registry=https://npm.totvs.io
@totvs-supply:registry=https://pkgs.dev.azure.com/totvstfs/SupplyEngenharia/_packaging/supply-engenharia/npm/registry/
@totvs:registry=https://pkgs.dev.azure.com/totvstfs/SupplyEngenharia/_packaging/supply-engenharia/npm/registry/
@po-ui:registry=https://npm.totvs.io
always-auth=true